<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.minimumIdle">10</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.jdbcUrl">jdbc:mysql://localhost/openeyes</property>
        <property name="hibernate.hikari.dataSource.user">openeyes</property>
        <property name="hibernate.hikari.dataSource.password">openeyes</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.connection.autocommit">false</property>
        <!--Names the annotated entity class-->
        <mapping class="com.abehrdigital.dicomprocessor.models.Request"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.RequestRoutine"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.RequestRoutineExecution"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.RoutineLibrary"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.AttachmentData"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.RequestQueue"></mapping>
        <mapping class="com.abehrdigital.dicomprocessor.models.RequestQueueLock"></mapping>
    </session-factory>
</hibernate-configuration>
